/* ===========================================
    FRONTEND MENTOR - SOCIAL PROOF SECTION
    AUTHOR BY - ARATI D'SA
=============================================== */

/* =============================
            CSS RESET
===================================== */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width:100%;
    height: auto;
}

/* =============================
            CUSTOM PROPERTIES
===================================== */
:root{
    /* COLORS */
    /* Primary Colors */
    --veryDarkMagenta: hsl(300, 43%, 22%);
    --softPink: hsl(333, 80%, 67%);

    /* Neutral Colors */
    --darkGrayishMagenta: hsl(303, 10%, 53%);
    --lightGrayishMagenta: hsl(300, 24%, 96%);
    --lightGrayishMagenta-accent: hsl(300, 16%, 92%);
    --white: hsl(0, 0%, 100%);

    /* FONT SIZE */
    --fs-15: 0.94rem;

    /* FONT WEIGHT */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /* FONT FAMILY */
    --ff-league: "League Spartan", sans-serif;
}

/* =============================
            GLOBAL STYLES
===================================== */
body{
    font-family: var(--ff-league);
    font-size: var(--fs-15);
    font-weight: var(--fw-400);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./images/bg-pattern-top-mobile.svg') top left no-repeat,
                url('./images/bg-pattern-bottom-mobile.svg') bottom -10vh right no-repeat;
    background-color: var(--lightGrayishMagenta);  
     
}

/* =============================
            LAYOUT
===================================== */
/* MAIN CONATAINER */
.main-container{
    padding: 5rem 1rem;
}
.main-title{
    font-size: 2.4rem;
    text-align: center;
    line-height: 0.85;
    padding-inline: 2rem;
    color: var(--veryDarkMagenta);
}
.description{
    margin-block-start: 1.5rem;
    font-size: 1.1rem;
    padding-inline: 0.83rem 0.8rem;
    line-height: 1.4;
    text-align: center;
    color: var(--darkGrayishMagenta);
    font-weight: var(--fw-500);
}
/* STAR CONTAINER */
.star-container{
    margin-block-start: 2.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.18rem;
    padding-inline: 1rem;
}
.review-star{
    min-width: clamp(20.4rem,29vw,36rem);
    border-radius: 0.63rem;
    text-align: center;
    padding-block: 0.8rem;
    background-color: var(--lightGrayishMagenta-accent);
}
.star-box{
    display: flex;
    gap: 0.5rem;   
    justify-content: center;
    align-items: center;
}
.review-descpt{
    margin-block-start: 1.1rem;
    font-size: 1.1rem;
    font-weight: var(--fw-700);
    color: var(--veryDarkMagenta);
}
/* REVIEW CONTAINER */
.review-container
{
    margin-block-start: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
}
.review-box{
    max-width: clamp(20.4rem,25vw,22rem);
    padding: 2.5rem 2rem 2rem 2rem;
    background-color: var(--veryDarkMagenta);
    border-radius: 0.63rem;
}
.personal-box{
    display: flex;
    flex-direction: row;
    column-gap: 1.3rem;
}
.profile-pic{
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
}
.profile-name{
    font-size: 1.1rem;
    color: var(--white);
}
.verification{
    margin-block-start: 0.4rem;
    font-size: 1.1rem;
    color: var(--softPink);
}
.review{
    margin-block-start: 1.8rem;
    font-size: 1.04rem;
    line-height: 1.3;
    color: var(--white);
}
/* FOOTER */
footer{
    font-size: 1rem;
    color: var(--darkGrayishMagenta);
    font-weight: var(--fw-700);
}
footer a{
    text-decoration: none;
    color: var(--softPink);
    font-weight: var(--fw-700);
}
footer a:hover,
footer a:focus-visible{
    color: var(--veryDarkMagenta);
}
footer a:focus-visible{
    outline: 0.13rem solid var(--darkGrayishMagenta);
    outline-offset: 0.13rem;
}

/* =============================
            DESKTOP STYLE
===================================== */
@media screen and (min-width:48rem) {
    body{
        background: url('./images/bg-pattern-top-desktop.svg') top left no-repeat,
                url('./images/bg-pattern-bottom-desktop.svg') bottom right no-repeat;
       
    }
    .main-container{
        display: grid;
        grid-template-areas: 
        'title star'
        'review  review';
        grid-template-columns: 40% 60%;
        max-inline-size: 70rem;
        padding: 5rem 0rem;
    }
    .title-description{
        grid-area: title;
        margin-block-start: 2.2rem;
    }
    .main-title{
        font-size: 3.33rem;
        text-align: left;
        line-height: 0.9;
        padding-inline:0;
        max-inline-size: 25rem;
    }     
    .description{
        padding-inline: 0;
        text-align: left;
    } 
    .star-container{
        grid-area: star;
        gap: 0.9rem;
        padding-inline: 0;
        margin-block-start: 3.8rem;
        margin-inline-start: 1.5rem;
    }
    .review-star{
        display: flex;
        padding-inline: 2rem 0;
        padding-block: 1.3rem;
    }
    .review-descpt{
        margin-block-start: 0;
        padding-inline: 2rem;
    }
    .guru-box{
        margin-inline-start: 5.7rem;
    }
    .bestech-box{
        margin-inline-start: 11.5rem;
    }
    .review-container{
        grid-area: review;
        display: flex;
        flex-direction: row;
        gap: 1.6rem;
        align-items: flex-start;
    }
    .review-box{
        padding: 2.7rem 1.5rem 2.5rem 2rem;
        margin-block-start: 1.6rem;
    }
    .personal-box{
        column-gap: 1.5rem;
    }
    .verification{
        margin-block-start: 0.3rem;
    }
    .review{
        margin-block-start: 1.65rem;
        font-size: 1.03rem;
    }
    .review-box:nth-child(2)
    {
        margin-block-start: 2.5rem;
        padding-inline: 2rem 2.5rem;       
    }
    .review-box:nth-child(3)
    {
        margin-block-start: 3.5rem;
        padding-inline: 2.2rem 2.5rem;
    }
}



